/******
* COLOR
*/
$light: #fff;
$gray: #aaa;
$card-footer: beige;
$text-red: rgb(167, 11, 11);
$succes: green;
$dark: #333;


/******
* FONT_SIZE
*/
$font-valid: 11px;
$font-form: 12px;
$font-form-responsive: 18px;
$font-table: 14px;
$font-button-responsive: 20px;

$toolbar: white;